.footer {
    text-align: center;
    padding: 8px;
    font-size: 12px;
    color: #999;
    background: white;
    border-top: 1px solid #eee;
}

.footer a {
    text-decoration: none;
}

